footer.page-footer
  .page-footer__container
    p.page-footer__copyright © Copyright 2010 - All rights reserved
    ul.page-footer__list
      li.page-footer__item
        a.page-footer__link(href="#")
          svg(width="10" height="20")
            use(xlink:href="img/sprite.svg#facebook")
        li.page-footer__item
          a.page-footer__link(href="#")
            svg(width="16" height="14")
              use(xlink:href="img/sprite.svg#twitter")
