footer.page-footer
  .page-footer__container
    p.page-footer__copyright © Copyright 2010 - All rights reserved
    ul.page-footer__list
      li.page-footer__item
        a.page-footer__link(href="#")
          svg(width="30" height="30")
            use(xlink:href="img/sprite.svg#")
        li.page-footer__item
          a.page-footer__link(href="#")
            svg(width="30" height="30")
              use(xlink:href="img/sprite.svg#")
