header.page-header
  .page-header__container
    a(href="index.html").page-header__logo.logo
      svg(width="70" height="70")
        use(xlink:href="img/sprite.svg#logo")
      h1.logo__title minto
    nav.page-header__main-nav.main-nav
      ul.main-nav__list
        li.main-nav__item
          a.main-nav__link(href="#") Home
            svg(width="20" height="20")
              use(xlink:href="img/sprite.svg#")
        li.main-nav__item
          a.main-nav__link(href="#") About us
            svg(width="20" height="20")
              use(xlink:href="img/sprite.svg#")
        li.main-nav__item
          a.main-nav__link(href="#") Services
            svg(width="20" height="20")
              use(xlink:href="img/sprite.svg#")
        li.main-nav__item
          a.main-nav__link(href="#") Contuct Us
            svg(width="20" height="20")
              use(xlink:href="img/sprite.svg#")
