-
 navLinks = [
  {
    "link"     : "#",
    "name"     : "Home",
    "svg"      : "img/sprite.svg#home",
    "widthSvg" : "20",
    "heightSvg": "20"
  },
  {
    "link"     : "#",
    "name"     : "About us",
    "svg"      : "img/sprite.svg#about",
    "widthSvg" : "20",
    "heightSvg": "19"
  },
  {
    "link"     : "#",
    "name"     : "Services",
    "svg"      : "img/sprite.svg#services",
    "widthSvg" : "20",
    "heightSvg": "20"
  },
  {
    "link"     : "#",
    "name"     :"Contuct Us",
    "svg"      : "img/sprite.svg#contact",
    "widthSvg" : "20",
    "heightSvg": "14"
  }];

header.page-header
  .page-header__container
    a(href="index.html").page-header__logo.logo
      svg(width="70" height="70")
        use(xlink:href="img/sprite.svg#logo")
      h1.logo__title minto
    nav.page-header__main-nav.main-nav
      ul.main-nav__list
        for i in navLinks
          li.main-nav__item
            a.main-nav__link(href=i.link)
              svg(width=i.widthSvg height=i.heightSvg)
                use(xlink:href=i.svg)
              =i.name
