-
  promoData = [
    {
      "title":"Minto",
      "description":"A minimal Web Design from cssauthor.com"
    },
    {
      "title":"Minto",
      "description":"A minimal Web Design from cssauthor.com"
    },
    {
      "title":"Minto",
      "description":"A minimal Web Design from cssauthor.com"
    }];

.promo
  .promo__container
    .promo__slider.slider#j-slider
      for i in promoData
        .slider__item
          h2.slider__title=i.title
          p.slider__descr=i.description

