.promo
  .promo__container
    .promo__slider.slider#j-slider
      .slider__item
        h2.slider__title Minto
        p.slider__descr A minimal Web Design from cssauthor.com
      .slider__item
        h2.slider__title Minto
        p.slider__descr A minimal Web Design from cssauthor.com
      .slider__item
        h2.slider__title Minto
        p.slider__descr A minimal Web Design from cssauthor.com
