doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Minto
    link(rel="stylesheet" type="text/css" href="css/style.css")
    script document.documentElement.className = document.documentElement.className.replace('no-js', 'js')
    script src="js/svg4everybody.min.js"
    script svg4everybody()
  body
    include ../modules/header
    block content
    include ../modules/footer
    script src="js/vendors.min.js"
    script src ="js/script.min.js"
