extends pug/layout/main
block content
    include pug/modules/promo
    main
      .about
        .about__container
          p <span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat7.
      include pug/modules/blog
      .clients
        .clients__container
          p.clients__descr <span>where</span> we have been featured
          .clients__descr-line
          .clients__row
            .clients__company-name
              svg(width="185" height="30")
                use(xlink:href="img/sprite.svg#")
            .clients__company-name
              svg(width="150" height="30")
                use(xlink:href="img/sprite.svg#")
            .clients__company-name
              svg(width="220" height="40")
                use(xlink:href="img/sprite.svg#")
            .clients__company-name
              svg(width="165" height="35")
                use(xlink:href="img/sprite.svg#")
