extends pug/layout/main
block content
    include pug/modules/promo
    main
      .about
        .about__container
          p.about__descr
            span Lorem ipsum dolor sit amet,
            = ' '
            | consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim an minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat7.
      include pug/modules/blog
      .clients
        .clients__container
          .clients__header
            p.clients__descr
              span where
              = ' '
              | we have been featured
            .clients__descr-line
          ul.clients__list
            li.clients__item
              svg(width="188" height="30")
                use(xlink:href="img/sprite.svg#client1")
            li.clients__item
              svg(width="150" height="28")
                use(xlink:href="img/sprite.svg#client2")
            li.clients__item
              svg(width="222" height="39")
                use(xlink:href="img/sprite.svg#client3")
            li.clients__item
              svg(width="171" height="41")
                use(xlink:href="img/sprite.svg#client4")
