$main-color:          #82699d; //лиловый

$gray-light:          #e8e8e8;
$gray:                #bfbfbf;
$gray-dark:           #545454;
$gray-darker:         #454242;

$text-color:          #838383;
$text-color-dark:     #494848;

$font-family:         Montserrat, Helvetica Neue, sans-serif;


$content-with:        1020px;

$screen-sm:           320px;
$screen-md:           840px;
$screen-lg:           1280px;
